body {
  background-color: #ebedef;
  font-family: "Ubuntu", sans-serif;
}

#navbarNav {
  justify-content: end;
}

.bg-azul {
  background-color: #1a5276;
}

.navbar a {
  color: #ffffff;
}

.bg-azul2 {
  background-color: #ebedef;
}

/* seccion de foto + resumen cv*/

.section1 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: 10%;
}

#resumencv {
  width: 70%;
  text-align: justify;
  padding: 3%;
}

/* seccion de Mas sobre mi*/

.sobremi {
  display: flex;
  justify-content: space-evenly;
}

.card-header {
  text-align: center;
}

/*seccion de habilidades*/

.section3 {
  margin-top: 1%;
  padding: 1%;
}

.card-img-top {
  height: 200px;
  background-size: contain;
}

.cardhabi {
  border: none;
}

#Mis-proyectos .image-top {
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
}

body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.dark-mode .card,
.dark-mode .navbar,
.dark-mode footer {
  background-color: #1f1f1f !important;
  color: #f0f0f0;
}

.dark-mode .card-body,
.dark-mode .list-group-item {
  background-color: #2a2a2a !important;
  color: #f0f0f0;
}

.dark-mode .btn {
  background-color: #333;
  color: #fff;
}